<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="/">{{ site.title }}</a>

    <nav class="site-nav">
      <a class="page-link" href="/blog">Blog</a>
      <a class="page-link" href="/about">About</a>
      <a class="page-link" href="/projects">Projects</a>
      <a class="page-link" href="https://github.com/pggalaviz" target="_blank">
        <span class="icon icon--github">
          {% include icon-github.svg %}
        </span>
      </a>
      <a class="page-link" href="https://twitter.com/pggalaviz" target="_blank">
        <span class="icon icon--twitter">
          {% include icon-twitter.svg %}
        </span>
      </a>
    </nav>

  </div>

</header>
