#blog {
  h1 {
    font-family:'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    font-weight:700;
    font-size:26px;
    letter-spacing:3px;
    text-transform:uppercase;
  }

  .rss-subscribe {
    float: right;
    font-size: 11px;
  }

  .post-list {
    margin-left: 0;
    list-style: none;

    > li {
      margin-bottom: 15px;
      padding-top: 15px;
      &:not(:first-child) {
        border-top: 1px solid $grey-color-light;
      }
    }
  }

  .post-meta {
    font-size: $small-font-size;
    color: $grey-color;
  }

  .post-link {
    display: block;
    font-size: 16px;
    font-weight: bolder;
    text-transform: uppercase;
  }
  .index-tags {
    font-size: 10px;
    margin-left: 0;
    list-style: none;
    li {
        display: inline;
    }
  }
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 26px;
  letter-spacing: -1px;
  line-height: 1;
  margin-top: 15px;

  @include media-query($on-laptop) {
    font-size: 22px;
  }
}

.post-meta {
  font-size: 12px;
  color: $grey-color;
}

.post-updated {
  color: $brand-color;
  margin-bottom: 15px;
  font-size: 14px;
}

.post-content {
  margin-bottom: $spacing-unit;
  font-size: 16px;

  h2 {
    font-size: 22px;

    @include media-query($on-laptop) {
        font-size: 18px;
    }
  }

  h3 {
    font-size: 18px;

    @include media-query($on-laptop) {
        font-size: 16px;
    }
  }

  h4 {
    font-size: 16px;

    @include media-query($on-laptop) {
        font-size: 14px;
    }
  }
}

.post-tags {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid $grey-color-light;
  border-bottom: 1px solid $grey-color-light;
  h4 {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }
  ul {
    font-size: 12px;
    list-style: none;
    margin: 0;
    li {
      display: inline;
      margin-right: 3px;
    }
  }
}

.post-nav {
  display: block;
  overflow: hidden;
  font-size: 14px;
  margin-bottom: 30px;
  text-align: center;
  vertical-align: middle;

  .prev, .next {
    border: 2px solid $brand-color;
    width: 43%;
    max-width: 43%;
    height: 25px;
    padding: 6px 10px;
    vertical-align: middle;
    transition: all .3s ease;
    @include media-query($on-palm) {
        width: 40%;
        max-width: 40%;
    }
  }
  .prev {
    float: left;
  }
  .next {
    float: right;
  }
  .prev:hover, .next:hover {
    border: 2px solid $grey-color-light
  }
}
