#tags {
  h1 {
    font-family:'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    font-weight:700;
    font-size:26px;
    letter-spacing:3px;
    text-transform:uppercase;
  }
  h3 {
    font-weight: bolder;
  }
  section {
    padding-top: 15px;
  }
  section + section {
    border-top: 1px solid $grey-color-light;
  }
  .tags-all {
    list-style: none;
    margin: 0;
    margin-bottom: 30px;
    li {
      display: inline;
      padding: 0;
      margin: 0;
    }
  }
  .tag {
    list-style: none;
    margin: 0;
    margin-bottom: 10px;
    li {
      display: block;
      margin-bottom: 10px;
      .date {
        margin-bottom: -8px !important;
        font-size: 10px;
        color: #999;
      }
      a {

        text-transform: uppercase;
        font-size: 12px;
      }
    }

  }
}
